@model List<QuanLyDeTai.Models.Assessment>

@{
    ViewData["Title"] = "ManageAssessments";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h2 style="margin: 0px auto 40px; text-align: left; width: 1300px;">ASSESSMENT</h2>
<div style="margin: 0px auto 40px; width: 1300px;">
    <a class="btn btn-primary" asp-action="Create">+ Create New Assessment Council</a>
</div>
<table class="table mt-5" style="border: solid 2px darkslategrey; width: 1300px; margin: 0 auto;">
    <thead>
        <tr>
            <th>ID</th>
            <th>
                Number Of Members
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfMembers)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssessmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssessmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssessmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
