@model IEnumerable<QuanLyDeTai.Models.Topic>

@{
    ViewData["Title"] = "ManageTopics";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>
@*    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TopicName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegisteredYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResearchField)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LevelTopic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssessmentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Approved)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assessment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TopicName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegisteredYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResearchField)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LevelTopic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssessmentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Approved)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Assessment.AssessmentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.StatusId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TopicId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.TopicId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.TopicId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
</div>

<ul class="nav nav-tabs">
    <li class="nav-item fs-5">
        <a class="nav-link active" data-toggle="tab" href="#DISAPPROVED_TOPIC">DISAPPROVED TOPIC</a>
    </li>

    <li class="nav-item fs-5">
        <a class="nav-link" data-toggle="tab" href="#EXTENDING_REQUEST">EXTENDING REQUEST</a>
    </li>

    <li class="nav-item fs-5">
        <a class="nav-link" data-toggle="tab" href="#CANCEL_REQUEST">CANCEL REQUEST</a>
    </li>

    <li class="nav-item fs-5">
        <a class="nav-link" data-toggle="tab" href="#APPROVED_TOPIC">APPROVED TOPIC</a>
    </li>
</ul>

<div class="tab-content">
    <div id="DISAPPROVED_TOPIC" class="tab-pane fade in active">
        <h3>Hello DISAPPROVED TOPIC</h3>
    </div>

    <div id="EXTENDING_REQUEST" class="tab-pane fade">
        <h3>Hello EXTENDING REQUEST</h3>
    </div>

    <div id="CANCEL_REQUEST" class="tab-pane fade">
        <h3>Hello CANCEL REQUEST</h3>
    </div>

    <div id="APPROVED_TOPIC" class="tab-pane fade">
        <h3>Hello APPROVED TOPIC</h3>
    </div>
</div>