@using Syncfusion.EJ2
@model List<QuanLyDeTai.Models.Topic>

@{
    ViewData["Title"] = "ManageTopics";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    List<Topic> Model_Disapproved = new List<Topic>();
    foreach (var item in Model) {
        if (item.Approved == false) { Model_Disapproved.Add(item); }
    }
}

<div>
@*    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    *@
</div>

<ul class="nav nav-tabs">
    <li class="nav-item fs-5">
        <a class="nav-link active" data-toggle="tab" href="#DISAPPROVED_TOPIC">DISAPPROVED TOPIC</a>
    </li>

    <li class="nav-item fs-5">
        <a class="nav-link" data-toggle="tab" href="#EXTENDING_REQUEST">EXTENDING REQUEST</a>
    </li>

    <li class="nav-item fs-5">
        <a class="nav-link" data-toggle="tab" href="#CANCELLING_REQUEST">CANCELLING REQUEST</a>
    </li>

    <li class="nav-item fs-5">
        <a class="nav-link" data-toggle="tab" href="#APPROVED_TOPIC">APPROVED TOPIC</a>
    </li>
</ul>

<div class="tab-content">
    <div id="DISAPPROVED_TOPIC" class="tab-pane fade in active">
        <form asp-action="Register" method="post">
            @Html.AntiForgeryToken()
            <div class="row m-b-10" style="margin-bottom: 50px !important">
                <div class="col-xl-12 d-flex flex-row justify-content-center mt-5">
                    <input class="tb-custom" placeholder="Input name of topic" 
                    style="width: 800px; padding: 20px 10px;font-size: 18px"/>
                    <a style="position: absolute; right: 310px" asp-action="Edit">
                        <i class="fa fa-search" style="color: gray"></i>
                    </a>
                </div>
                <table class="table mt-5">
                    <thead>
                        <tr>
                            <th>
                                TopicName
                            </th>
                            <th>
                                RegisteredYear
                            </th>
                            <th>
                                ResearchField
                            </th>
                            <th>
                                LevelTopic
                            </th>
                            <th>
                                Duration
                            </th>
                            <th>
                                AssessmentDate
                            </th>
                            <th>
                                Comment
                            </th>
                            <th>
                                Rating
                            </th>
                            <th>
                                Approved
                            </th>
                            <th>
                                Reason
                            </th>
                            <th>
                                Assessment
                            </th>
                            <th>
                                Status
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model_Disapproved)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TopicName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RegisteredYear)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ResearchField)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LevelTopic)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Duration)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssessmentDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rating)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Approved)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Reason)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Assessment.AssessmentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status.StatusId)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.TopicId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.TopicId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.TopicId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="row m-b-10" style="margin-bottom: 50px !important">
                <div class="col-xl-12 d-flex flex-column">
                    <div class="row d-flex justify-content-end" style="margin-top: 50px">
                        <button class="btn-register" type="submit">DECLINE</button>
                        <button class="btn-register" type="submit">ACCEPT</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="EXTENDING_REQUEST" class="tab-pane fade">
        extending
    </div>

    <div id="CANCELLING_REQUEST" class="tab-pane fade">
        cancelling
    </div>

    <div id="APPROVED_TOPIC" class="tab-pane fade">
       approved
    </div>
</div>
